<nav class="blue lighten-5">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="">
      <li><a href="#" class="waves-effect waves-light"><div id="img"> </div></a></li>
      <li><a [routerLink]="['/home']" class="black-text waves-effect waves-light">Home</a></li>
      <li><a href="sass.html" class="black-text waves-effect waves-light">Sass</a></li>
      <li><a href="badges.html" class="black-text waves-effect waves-light">Components</a></li>
      <li><a href="collapsible.html" class="black-text waves-effect waves-light">JavaScript</a></li>
    </ul>
  </div>
</nav>
