button:hover {
  background-color: red !important;
}

#respawn {
  background-color: navajowhite !important;
}

#body {
  background-color: lightgrey !important;
}
label[data-error], label[data-success] {
  width: 100%;
}
